<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <!--<link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link  rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    
        
   <nav class="navbar navbar-dark bg-dark navbar-expand-lg py-1">
       <a class="navbar-brand h1 mb-0" href="/">YelpCamp</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" 
           data-target="#navbarContent" aria-controls="navbarSupportedContent" 
           aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       
        <div id="navbarContent" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %> nav-item">
                <a class="nav-link" href="/campgrounds">Home</a>
            </li>
          </ul>
          <% if(typeof page !== 'undefined' && page === 'campgrounds'){%>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="d-flex align-items-stretch">
                       <select id="searchDropdown" class="form-control " name="searchType">
                            <option selected value="name">Name</option>
                            <option value="author">Author</option>
                        </select>
                        <input id="searchbar" class="form-control " type="text" name="search" placeholder="search">
                        <button id="searchBtn" type="submit" class="btn btn-outline-success form-control">Search</button>
                   </div>
              </form>
          <% } %>
          
       
          <ul class="navbar-nav ml-auto">
              <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> nav-item">
                      <a href="/login" class="nav-link">Login</a>
                  </li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> nav-item">
                      <a href="/register" class="nav-link">Sign Up</a>
                  </li>
              <% } else { %>
                  <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                          Notifications <span class="badge badge-pill badge-info""><%= typeof notifications !== "undefined" ? notifications.length : 0 %></span>
                      </a>
                      <% if(notifications) { %>
                           <ul class="dropdown-menu">
                              <li class="text-center py-2">
                                  <a href="/notifications" class="text-left">View past notifications</a>
                              </li>
                              <% notifications.forEach((notification) => { %>
                                  <li class="text-center border-top py-2">
                                      <a href="/notifications/<%= notification._id%>">
                                          <%= notification.username %> created a new campground
                                      </a>
                                  </li>
                              <% })%>
                          </ul>
                      <% }%>
                     
                  </li>    
                  <li class="nav-item"><a href="/users/<%= currentUser._id %>/profile/campground" class="nav-link"><%= currentUser.username %></a></li>
                  <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
              <% } %>
          </ul>
        </div>
    
</nav>
    
    <div class="container mt-3">
        <% if(error && error.length > 0 ) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>
    </div>
    
    
   