<%- include("../partials/header") %>

<div class="container mt-5">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp</h1>
            <p>View our campgrounds</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-md btn-primary">Add a new Campground</a>
            </p>

        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap">
        <% if(campgrounds.length === 0) { %>
            <div class="col-md-3 col-sm-6">
                <p>No campgrounds match that query, please try again.</p>
            </div>
        <% }else { %>
            
            <% campgrounds.forEach( (element) => { %>
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="card">
                        <img src="<%= element.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title"><%= element.name %></h4>
                            <p class="card-text">
                                <%= element.description.substring(0,20) %>...
                            </p>
                             <a href="/campgrounds/<%= element._id %>" class="btn btn-primary btn-sm">More Info</a>
                        </div>
                        
                    </div>
                    
                </div>
            <% })%> 
        
        <% } %>
        
    </div>
</div>




<%- include("../partials/footer") %>
