<%- include("../partials/header") %>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %>">
                <div class="card-body">
                    <h4 class="float-right">$<%= campground.price %>/night</h4>
                    
                    <h4 class="card-title"><a href="/"><%= campground.name %></a></h4>
                    <div class="card-text">
                           <p><%= campground.description %></p>
                            <p>
                                <em>Created by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                            </p>
                            <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) {%>
                                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">EDITE</a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form> 
                            <% } %> 
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                      <div class="text-right">
                     <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                 </div>
                 <hr>
                  <div class="row">
                 <% campground.comments.forEach((comment) => { %>
                       
                            <div class="col-md-12">
                                <%= comment.author.username %>
                                <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                 <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) {%>
                                <a class="btn btn-sm btn-warning" 
                                    href="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="delete">
                                </form>
                                <% } %>
                                <hr>
                            </div>
                        
                 <% }) %>
                 </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9Rrp1MtJI_uEwBO3kQGfpbZQxOmkTo7c&callback=initMap"></script>
<%- include("../partials/footer") %>

