<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>User Profile</h1>
            <h1><%= user.firstName + " "+ user.lastName %></h1>
            <div class="thumbnail">
                <img src="<%= user.avatar %>" alt="user profile image">
                <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            </div>
            
           
        </div>
        <div class="col-md-8">
            <% campgrounds.forEach((campground) => { %>
                <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }) %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>