<%- include("../partials/header") %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 border border-primary">
            <div class="card">
                <img  class="card-img-top" src="<%= user.avatar %>" alt="user profile image">
            </div>
            <h2><%= user.firstName + " "+ user.lastName %></h2>
            <button id="follow_button" class="btn active">Follow</button>
        </div>
        <div class="col-md-9 border border-primary">
            <% campgrounds.forEach((campground) => { %>
                <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }) %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>